@using Cinema.ViewModels
@model LoginModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
    <link href="~/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">

    <form class="form-signin" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <h1 class="h3 mb-3 font-weight-normal">Пожалуйста, войдите</h1>
        <input id="inputEmail" class="form-control" asp-for="Username" placeholder="Username" required autofocus>
        <input type="password" id="inputPassword" class="form-control" asp-for="Password" placeholder="Пароль" required>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="signinbut">Войти</button>
        <a asp-action="Register" asp-controller="Account">Регистрация</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>

    <div class="col-md-6">
        <h1>External Login</h1>
        <hr />
        @{
            if (Model.ExternalLogins.Count == 0)
            {
                <div>No external logins configured</div>
            }
            else
            {
                <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    <div>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary"
                                    name="provider" value="@provider.Name"
                                    title="Log in using your @provider.DisplayName account">
                                @provider.DisplayName
                            </button>
                        }
                    </div>
                </form>
            }
        }
    </div>

</body>
</html>