
@{
    ViewData["Title"] = "ChatBox";
}

<h1>@ViewData["Title"]</h1>

<style>
    body {
        background-color: #7fffd4;
    }
div.panel-body { overflow: scroll; 
                 background-image: url(../img/geometry2.png); }
</style>
<body>
    <div class="chat-panel panel panel-default">
        <div class="panel-heading">
            ChatBox using SingalR
            <i class="fa fa-paper-plane fa-fw"></i>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body" id="chat" style="height:250px;">
            <p id="messagesList"></p>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
            <div class="input-group">
                <input id="userInput" type="text" name="username" class="form-control input-sm" placeholder="Type your Username..." />
                <input id="messageInput" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." />

                <span class="input-group-btn">
                    <input type="button" class="btn btn-warning btn-sm" id="sendButton" value="Send">

                </span>
            </div>
        </div>
    </div>
</body>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
